body {
    font-family: 'Merriweather', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Serif', serif;
}

section {
    display: flex;
    padding-left: 4%;
    margin-top: 40px;
}

h1 {
    font-size: 50px;
    text-align: start;
}

h2 {
    font-size: 40px;
}

span {
    color: tomato;
}

.half-width {
    width: 50%;
}

.female-img {
    width: 40%;
    padding-left: 20px;
}

.link-button {
    background-image: linear-gradient(rgb(220, 165, 81), rgb(84, 121, 92));
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
}

.contac {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    padding-top: 20px;

}

.recipies {
    text-align: center;
    width: 50%;
    padding: 10px;
    margin-left: 27%;
}

#my-h3 {
    width: 50%;
    font-weight: 400;
    font-size: 30px;
    margin-left: 27%;
    color: rgb(73, 73, 84);

}

/* #food-img-1 {
    width: 60%;
}

#food-img-2 {
    width: 60%;
} */

.shadow {
    box-shadow: 10px 10px 10px 10px #e1dddd;
    padding: 30px;
    text-align: center;
    margin: 30px;
    border-radius: 10px;
}

.shadow-box img {
    width: 100%;
}